.pageContainer {
  padding: 2re0;
  /* margin-left: 240px; To match the sidebar offset */
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 240px;
  background: #2b2f3e;
  color: white;
  position: fixed;
  height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.sidebar img {
  width: 80%;
  margin-bottom: 2rem;
}

.sidebar button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  padding: 1rem 2rem;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.sidebar button:hover,
.active {
  background-color: #0d6efd;
}


.card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.image {
  margin-bottom: 20px;
}
